<div class="container-fluid">

    <form (ngSubmit)="postMovimentacao()">

        <div class="row">
            <div class="col">
                <!--<div class="form-group">
                    <label for="pesquisa_usuario">
                        Usuário responsável
                        <i class="fas fa-search"></i>
                    </label>
                    <input type="search" [(ngModel)]="movimentacao.pesquisa_usuario" (keyup)="getPesquisaUsuario()" name="pesquisa_usuario" id="pesquisa_usuario" class="form-control">
                </div> -->
                <!-- Button trigger modal -->

            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list-group list-group-flush" *ngFor="let x of pesquisa.usuario">
                    <li class="list-group-item">{{ x.usuario_nome }}</li>
                </ul>
            </div>
        </div>

        <div class="row" *ngIf="equipamentos_selecionados.length > 0">
            <div class="col">
                <button type="button" class="btn btn-primary equipamentos_selecionados" *ngFor="let x of equipamentos_selecionados; let i = index"  (click)="retiraEquipamento(i)">
                    {{x.tipo_equipamento.tipo_equipamento_descricao  }} - {{x.equipamento_tomb}} 
                    <i class="fas fa-times"></i>
                </button>
          
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" [(ngModel)]="movimentacao.pesquisa_equipamento"
                    name="pesquisa_equipamento" id="pesquisa_equipamento"
                       class="form-control" placeholder="Tombamento do equipamento" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="getPesquisaEquipamento()"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" (click)="adicionaEquipamento(x)"
                        *ngFor="let x of pesquisa.equipamento | slice:0:5; let i = index">{{i + 1}} -
                        <strong>Tombamento: </strong>{{x.equipamento_tomb}} - <strong>Descrição:
                        </strong>{{x.equipamento_descricao}}</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="tipo_movimentacao">
                        Tipo de movimentacão
                        <i class="fas fa-map-marker-alt"></i>
                    </label>
                    <select class="form-control" id="tipo_movimentacao" [(ngModel)]="movimentacao.tipo_movimentacao"
                        name="tipo_movimentacao">
                        <option *ngFor="let x of tipo_movimentacao" [ngValue]="x.tipomov_id">{{x.tipomov_descricao}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="setor_origem">
                        Setor Origem
                        <i class="fas fa-map-marker-alt"></i>
                    </label>
                    <select class="form-control" id="setor_origem" [(ngModel)]="movimentacao.setor_origem" name="setor_origem">
                        <option *ngFor="let x of setores" [ngValue]="x.setor_id">{{x.setor_sigla}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="setor_destino">
                        Setor Destino
                        <i class="fas fa-map-marker-alt"></i>
                    </label>
                    <select class="form-control" id="setor_destino" [(ngModel)]="movimentacao.setor_destino"    
                        name="setor_destino" data-live-search="true">
                        <option *ngFor="let x of setores" [ngValue]="x.setor_id" data-subtext="kk">
                            {{x.setor_sigla}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="observacao">
                        Observação
                        <i class="fas fa-info-circle"></i>
                    </label>
                    <input type="text" class="form-control" id="observacao" [(ngModel)]="movimentacao.observacao"
                        name="observacao">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="data_movimentacao">
                        Data da movimentacão
                        <i class="fas fa-calendar-day"></i>
                    </label>
                    <input type="date" class="form-control" id="data_movimentacao"
                        [(ngModel)]="movimentacao.data_movimentacao" name="data_movimentacao">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">
            Cadastrar
            <i class="fas fa-save"></i>
        </button>
    </form>
</div>