<div class="container-fluid">

        <form (ngSubmit)="postMovimentacao()">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="tipo_movimentacao">
                            Tipo de movimentacão
                            <i class="fas fa-map-marker-alt"></i>
                        </label>
                        <select class="form-control" id="tipo_movimentacao" [(ngModel)]="movimentacao.tipo_movimentacao"
                            name="tipo_movimentacao">
                            <option *ngFor="let x of tipo_movimentacao" [ngValue]="x.tipomov_id">{{x.tipomov_descricao}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="setor_origem">
                            Setor Origem
                            <i class="fas fa-map-marker-alt"></i>
                        </label>
                        <select class="form-control" id="setor" [(ngModel)]="movimentacao.setor_origem" name="setor_origem">
                            <option *ngFor="let x of setores" [ngValue]="x.setor_id">{{x.setor_descricao}}</option>
                        </select>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="setor_destino">
                            Setor Destino
                            <i class="fas fa-map-marker-alt"></i>
                        </label>
                        <select class="form-control" id="setor" [(ngModel)]="movimentacao.setor_destino"
                            name="setor_destino">
                            <option *ngFor="let x of setores" [ngValue]="x.setor_id">
                                {{x.setor_descricao}}</option>
                        </select>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col">   
                    <div class="form-group">
                        <label for="observacao">
                            Observação
                            <i class="fas fa-info-circle"></i>
                        </label>
                        <input type="text" class="form-control" id="observacao" [(ngModel)]="movimentacao.observacao"
                            name="observacao">
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="data_movimentacao">
                            Data da movimentacão
                            <i class="fas fa-calendar-day"></i>
                        </label>
                        <input type="date" class="form-control" id="data_movimentacao" [(ngModel)]="movimentacao.data_movimentacao"
                            name="data_movimentacao">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">
                Cadastrar
                <i class="fas fa-save"></i>
            </button>
        </form>
    </div>