<div class="container">
    <form (ngSubmit)="putEquipamento()">
        
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="tombamento">
                        Tombamento
                        <i class="fas fa-fingerprint"></i>
                    </label>
                    <input type="text" class="form-control" id="tombamento"
                        [(ngModel)]="equipamento[0].equipamento_tomb" name="tombamento">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="descricao">
                        Descrição
                        <i class="fas fa-info-circle"></i>
                    </label>
                    <input type="text" class="form-control" id="descricao"
                        [(ngModel)]="equipamento[0].equipamento_descricao" name="descricao">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="setor">
                        Setor onde o equipamento está
                        <i class="fas fa-map-marker-alt"></i>
                    </label>
                    <select class="form-control" id="setor" [(ngModel)]="equipamento[0].setor_id"
                        name="setor" disabled>    
                        <option *ngFor="let x of setores" [ngValue]="x.setor_id">
                            {{ x.setor_sigla }} - {{x.setor_descricao}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="tipo_equipamento">
                        Tipo de equipamento
                        <i class="fas fa-divide"></i>
                    </label>
                    <select class="form-control" id="tipo_equipamento" [(ngModel)]="equipamento[0].tipo_equipamento_id"
                        name="tipo_equipamento">
                        <option *ngFor="let x of tipos_equipamento" [ngValue]="x.tipo_equipamento_id">
                            {{x.tipo_equipamento_descricao}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="modelo">
                        Modelo
                        <i class="fas fa-divide"></i>
                    </label>
                    <input type="text" class="form-control" id="modelo" [(ngModel)]="equipamento[0].modelo"
                        name="modelo">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="fabricante">
                        Fabricante
                        <i class="fas fa-divide"></i>
                    </label>
                    <input type="text" class="form-control" id="fabricante" [(ngModel)]="equipamento[0].fabricante"
                        name="fabricante">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="num-serie">
                        N° Série
                        <i class="fas fa-divide"></i>
                    </label>
                    <input type="text" class="form-control" id="num-serie" [(ngModel)]="equipamento[0].num_serie"
                        name="num-serie">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">
            Atualizar
            <i class="fas fa-save"></i>
        </button>
    </form>
</div>