<div class="container">
    <div class="row">
        <div class="col">
            <form (ngSubmit)="putEquipamento()">
                <div class="form-group">
                    <label for="tombamento">
                        Tombamento
                        <i class="fas fa-fingerprint"></i> 
                    </label>
                    <input type="text" class="form-control" id="tombamento"
                        [(ngModel)]="equipamento[0].equipamento_tomb" name="tombamento">
                </div>
                <div class="form-group">
                    <label for="descricao">
                        Descrição
                        <i class="fas fa-info-circle"></i>
                    </label>
                    <input type="text" class="form-control" id="descricao"
                        [(ngModel)]="equipamento[0].equipamento_descricao" name="descricao">
                </div>
                <div class="form-group">
                    <label for="tipo_equipamento">
                        Tipo de equipamento
                        <i class="fas fa-divide"></i>
                    </label>
                    <select class="form-control" id="tipo_equipamento" [(ngModel)]="equipamento[0].tipo_equipamento_id"
                        name="tipo_equipamento">
                        <option *ngFor="let x of tipos_equipamento" [ngValue]="x.tipo_equipamento_id">
                            {{x.tipo_equipamento_descricao}}</option>
                    </select>
                </div>
                {{equipamento.tipo_equipamento_id}}
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    Atualizar
                    <i class="fas fa-save"></i>
                </button>
            </form>
        </div>
    </div>
</div>