<!--<div class="container">
    <div class="row" *ngFor="let x of movimentacoes; let i = index">
        <div class="col">
            <table class="table table-striped shadow table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tombamento</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Setor Origem</th>
                        <th scope="col">Setor Destino</th>
                        <th scope="col">Data</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let y of x.equipamento; let indexY = index">
                        <th scope="row">{{indexY + 1}}</th>
                        <td>{{ y.equipamento_tomb }}</td>
                        <td>{{ y.equipamento_descricao }}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>{{ x.data_movimentacao }}</td>
                        <td rowspan="3" *ngIf="indexY == 0"><button
                                type="button" class="btn btn-outline-secondary"
                                [routerLink]="['/editar-movimentacao', x.movimentacao_id]">Editar <i
                                    class="far fa-edit"></i></button>
                        </td>
                        <td rowspan="3" *ngIf="indexY == 0" class="d-flex align-content-center flex-wrap"><button type="button" class="btn btn-outline-danger"
                                (click)="openModal(x.movimentacao_id)">Deletar <i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row" *ngFor="let x of movimentacoes; let i = index">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-header bg-transparent border-success text-center">
                    <i class="fas fa-calendar-day"></i> {{ x.data_movimentacao | data }} - {{ x.tipo_movimento.tipomov_descricao }}
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{ 5 == 5 ? 'kkkk' : '' }} -> Setor Destino</h5>
                    <div *ngFor="let y of x.equipamento">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="fas fa-fingerprint"></i><strong> Tombamento: </strong>{{ y.equipamento_tomb }} <br/>
                                <i class="fas fa-info-circle"></i><strong> Descrição: </strong>{{ y.equipamento_descricao }}  
                            </li>
                        </ul>



                        <!--<p class="card-text">
                            <i class="fas fa-fingerprint"></i><strong> Tombamento: </strong>{{ y.equipamento_tomb }}</p>
                            <p class="card-text">
                                <i class="fas fa-info-circle"></i><strong> Descrição: </strong>{{ y.equipamento_descricao }} </p> -->
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-success text-center">
                            <button type="button" class="btn btn-outline-secondary"
                            [routerLink]="['/editar-movimentacao', x.movimentacao_id]">Editar <i
                            class="far fa-edit"></i></button>
                            <button type="button" class="btn btn-outline-danger"
                            (click)="openModal(x.movimentacao_id)">Deletar <i class="fas fa-trash"></i>
                            </button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Um momento...</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja excluir o registro?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" (click)="deletarMovimentacao()">Excluir</button>
                    </div>
                </div>
            </div>
        </div>