<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card text-white background-card-home mb-3" style="max-width: 18rem;">
                <div class="card-header">Novo empréstimo</div>
                <div class="card-body">
                  <h5 class="card-title">Criar novo empréstimo</h5>
                  <button type="button" class="btn btn-outline-dark card-text">Teste</button>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card text-white background-card-home mb-3" style="max-width: 18rem;">
                <div class="card-header">Relatórios</div>
                <div class="card-body">
                  <h5 class="card-title">Diversos tipos de relatórios</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card text-white background-card-home mb-3" style="max-width: 18rem;">
                <div class="card-header">Empréstimos</div>
                <div class="card-body">
                  <h5 class="card-title">Visualizar empréstimos</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</div>