<div class="container">
  <div class="row">
    <div class="col" *ngFor="let x of cards">
      <div class="card shadow">
        <img class="card-img-top" [src]="x.imagem" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{x.titulo}}</h5>
          <p class="card-text">{{x.descTexto}}</p>
          <a [routerLink]="x.router" class="btn btn-primary">
            {{x.descButton}}
            <i class="far fa-arrow-alt-circle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div>
